* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --primary-color: #B88E2F;
  --secondary-color: #FFF3E3;
  --light-color: #F4F5F7;
  --light-accent: #F6D8C6;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* ======================
  Navbar
   ====================*/

header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1001;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.navbar .main-nav ul {
  display: flex;
  gap: 4rem;
  margin: 0 auto;
}

.navbar .nav-icons a {
  padding: 0 1rem;
}

.navbar .main-nav ul li a:hover {
  color: var(--primary-color);
}

/* ======================
  Hamburger Menu
  ====================*/
.hamburger-menu {
  display: none;
}

/* ======================
  Hero
  ====================*/

.hero {
  background: url('../images/heroImg.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  position: relative;
}

.hero .call-to-action {
  position: absolute;
  top: 20%;
  right: 5%;
  padding: 2rem;
  background: var(--secondary-color);
  width: 550px;
  height: 400px;
}

.hero .call-to-action h1 {
  color: var(--primary-color);
  margin-top: 10px;
}

/* ======================
  Group 115
  ====================*/

.group-115 {
  margin-top: 100px;
}

.group-115 .group-115-body.group-115-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.group-115 .group-115-body .card {
  margin-top: 100px;
}

/* ======================
  Products
  ====================*/

.product .product-body.product-body-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 40px 0;
  place-items: center;
  place-content: space-around;
  row-gap: 30px;
}

.product .product-body .product-card-description {
  background: var(--light-color);
  width: 285px;
  margin: -10px auto;
  padding: 20px;
}

.product .product-body .card-body {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.product .product-body .card-body p:last-child:nth-of-type(2) {
  text-decoration: line-through;
  color: lightgray;
}

.product .product-body .product-card .card-header h4,
.product .product-body .product-card .card-body p {
  font-weight: bold;
}

.product .product-body .product-card {
  position: relative;
  overflow: hidden;
}

.product .product-body .product-card::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(128, 128, 128, 0.7);
  opacity: 0;
  transition: 0.3s ease;
}

.product .product-body .product-card:hover::after {
  opacity: 1;
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.product-card:hover .card-overlay {
  opacity: 1;
  pointer-events: auto;
}

.add-to-cart {
  padding: 0.7rem 2rem;
  background: white;
  color: var(--primary-color);
  border: none;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.add-to-cart:hover {
  transform: translateY(-3px);
  color: var(--primary-color);
  background: var(--light-accent);
}

.overlay-icons {
  display: flex;
  gap: 1rem;
  z-index: 1000;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease;
}

.overlay-icons i:hover {
  color: var(--light-accent);
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

/* ======================
  Inspiration
  ====================*/

.inspiration {
  display: flex;
  background: var(--secondary-color);
  padding: 2rem 0 2rem 8rem;
  gap: 50px;
  position: relative;
  margin-bottom: 100px;
}

.inspiration .inspiration-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inspiration .card-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 1000px;
  gap: 40px;
}

.inspiration .card-inspiration {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.inspiration .inspiration-text {
  width: 420px;
}

.inspiration .card-inspiration {
  position: relative;
}

.inspiration .card-description {
  background: rgba(255, 255, 255, 0.7);
  width: 217px;
  height: 120px;
  padding: 1rem;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.inspiration .next-btn {
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem;
  position: absolute;
  bottom: 10%;
  left: 64%;
  width: 48px;
  height: 48px;
  text-align: center;
}

.inspiration .next-btn:hover {
  background: var(--light-accent);
  color: var(--primary-color);
}

/* ======================
  Gallery
  ====================*/

.gallery {
  overflow: visible;
  padding: 0 2rem; 
}

.share-gallery-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.share-gallery-grid img {
  width: auto;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.gallery .gallery-top-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.gallery-top-left .img2 {
  align-self: end;
}

.gallery-bottom-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.gallery-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gallery-top-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.gallery-top-right .img6 {
  align-self: end;
}

.gallery-bottom-right {
  display: flex;
  gap: 40px;  
  margin-bottom: 20px;
}

/* ======================
  Footer Styling
======================*/
footer {
  background-color: #f9f9f9;
  color: #333;
  padding: 40px 20px 20px;
  font-family: 'Arial', sans-serif;
  border-top: 1px solid #D9D9D9;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: start; /* Aligns all columns to the top */
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #D9D9D9;
}

.footer-title {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  margin-bottom: 20px;
  text-transform: uppercase;
}


.footer-grid h1 {
  font-size: 24px;
  font-weight: bold;
  color: #111;
  margin-bottom: 10px;
}

.footer-grid .sm-text {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

.footer-grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-grid ul li {
  margin-bottom: 12px;
}

.footer-grid a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-grid a:hover {
  color: var(--primary-color);
}

.newsletter input[type="search"] {
  padding: 10px;
  width: 100%;
  max-width: 240px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.newsletter a {
  display: inline-block;
  margin-top: 5px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.newsletter a:hover {
  background-color: var(--light-accent);
}

.copyright {
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
  color: #777;
}

/* Utility Classes */

/* Container */
.xxl-container {
  max-width: 2000px;
  margin-left: -155px;
}

.xl-container {
  max-width: 1300px;
  margin: 0 auto;
}

.lg-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Text Classes */
.xxl-text {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 50px;
}

.xl-text {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 30px;
}

.lg-text {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 30px;
}

.md-text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 20px;
}

.sm-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
}

.xs-text {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

/* Discount Badge */
.product-card {
    position: relative;
    overflow: hidden;
}

.discount-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #E97171;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.new-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #2EC1AC;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.arrow-badge {
  position: absolute;
  top: 40%;
  right: 12%;;
  background-color: var(--light-color);
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.5);
  cursor: pointer;
}

.arrow-badge:hover {
  background: var(--primary-color);
  color: var(--light-color);
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.show-more-btn {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 245px;
  height: 48px;
  margin-bottom: 100px;
}

.show-more-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
  width: 222px;
  height: 74px;
  margin-top: 2rem;
}

.btn-primary:hover {
  background: var(--light-accent);
  color: var(--primary-color);
}

/* ======================
  Media Queries
  ====================*/

/* Tablet screens (e.g., 768px - 1024px) */
@media (max-width: 1024px) {
  .navbar .main-nav ul {
    gap: 2rem;
  }
  
  .hero {
    background-attachment: scroll;
    height: 500px;
  }
  
  .hero .call-to-action {
    width: 450px;
    height: 350px;
    padding: 1.5rem;
  }
  
  .xxl-text {
    font-size: 2.5rem;
  }
  
  .xl-container {
    max-width: 90%;
  }

  .lg-container {
    max-width: 90%;
  }
  
  .group-115 .group-115-body.group-115-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product .product-body.product-body-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .inspiration {
    padding: 2rem;
    flex-direction: column;
  }

  .inspiration .inspiration-text {
    width: 100%;
    text-align: center;
  }
  
  .inspiration .card-slider {
    width: 100%;
  }
  
  .inspiration .card-slider .card-inspiration {
    display: none;
  }

  .inspiration .card-slider .card-inspiration:first-child {
    display: block;
    width: 100%;
  }

  .inspiration .card-description {
    width: 90%;
  }
  
  .inspiration .next-btn {
    left: 80%;
  }

  .share-gallery-grid {
    grid-template-columns: 1fr;
  }
  
  .gallery-top-left, .gallery-bottom-left, .gallery-top-right, .gallery-bottom-right {
    gap: 10px;
  }
  
  .gallery-top-right .img6 {
    align-self: flex-start;
  }
  
  .gallery-top-left .img2 {
    align-self: flex-end;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile screens (e.g., up to 767px) */
@media (max-width: 767px) {

  .navbar {
    justify-content: center;
    align-items: center;
  }

  .navbar .nav-icons a {
    padding: 0 5px;
  }

  .navbar .nav-icons a:last-child i{
    margin-right: 1.5em;
  }
  
  .navbar .main-nav {
    display: none; 
  }

  .navbar .main-nav.open {
    display: block;
  }

  .navbar .main-nav.open ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 10%;
    width: 100%;
    background: #fff;
    z-index: 999;
  }

  .navbar .nav-icons {
    flex-basis: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .hamburger-menu {
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    cursor: pointer;
    z-index: 1000;
  }

  .hamburger-menu.open {
    position: absolute;
    color: #333;
    top: 20px;
    right: 0;
    z-index: 9999;
  }

  .hamburger-menu.open .bar {
    background-color: #333;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    background: #333;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    margin: 5px;
  }

  .hamburger-menu.open .bar:nth-child(1) {
    transform: translateY(6px) rotate(48deg);
  }

  .hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-50deg);
  }

  .hero {
    height: 400px;
  }

  .hero .call-to-action {
    position: static;
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .xxl-text {
    font-size: 2rem;
  }

  .xl-text {
    font-size: 1.8rem;
  }
  
  .group-115 .group-115-body.group-115-grid {
    grid-template-columns: 1fr;
  }
  
  .product .product-body.product-body-grid {
    grid-template-columns: 1fr;
  }

  .inspiration {
    padding: 1rem;
  }
  
  .inspiration .card-slider {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 90%;
  }

  .inspiration .card-inspiration {
    width: 90%;
  }
  
  .inspiration .next-btn {
    left: 70%;
  }
  
  .share-gallery-grid {
    gap: 5px;
  }
  
  .gallery-center, .gallery-top-left, .gallery-bottom-left, .gallery-top-right, .gallery-bottom-right {
    display: none;
    overflow: hidden;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .newsletter a {
    width: 100%;
  }

  .btn-primary {
    margin: auto;
  }

  .no-scroll {
    overflow: hidden;
  }
}